<div class="table-responsive">
  <form method="post" action='/items/delete'>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Item Name: </td>
          <td><input type="text" name="name" required size="20" value="{{data.itemName}}"></td>
        </tr>
        <tr>
          <th>description: </td>
          <td><input type="text" name="description" required size="20" value="{{data.description}}"></td>
          </th>
        </tr>
        <th>price in $: </td>
        <td><input type="text" name="price" required size="20" value="{{data.price}}"></td>
        </tr>
        <tr>
          <th>Quantity: </td>
          <td><input type="text" name="quantity" required size="20" value="{{data.quantity}}"></td>

        </tr>
        <input type="hidden" name="id" value="{{data.id}}">

      </tbody>
      <tfooter>
        <tr>
          <td></td>

          <td>
            <input type="submit" value="OK" class="btn btn-success">
            <input type="button" value="Cancel" class="btn btn-danger" class="cancel" onclick="cancelDelete()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>